---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Storage from "../components/Storage.astro";
import Footer from "../components/Footer.astro";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<html lang="en">
    <body class="bg-zinc-950 text-zinc-100 font-mono min-h-screen px-6">
        <Header />
        <Storage />
        <Footer />
    </body>
</html>
