<footer class="max-w-7xl mx-auto py-12">
    <hr class="border-zinc-800 mb-6" />
    <p class="text-center text-sm text-zinc-500">
        Copyright © 2026-Present - Made with 💜 by <a
            href="https://krypton.ninja"
            class="font-semibold hover:text-blue-300"
        >
            Krypton
        </a>
        - (<a
            href="https://github.com/krcoldstorage"
            class="font-semibold hover:text-blue-300">GitHub Organization</a
        >)
    </p>
</footer>
