---
import { Snowflake } from "@lucide/astro";
---

<header class="text-center pt-16 pb-10">
    <div class="flex justify-center items-center gap-4 mb-6">
        <Snowflake class="w-10 h-10" />
        <h1 class="text-5xl font-bold">
            Krypton's <span class="text-blue-300">Cold</span> Storage
        </h1>
        <Snowflake class="w-10 h-10" />
    </div>
    <p class="max-w-3xl mx-auto text-lg text-zinc-400">
        Where Krypton stores and sort of maintains retired or unmaintained
        projects and repositories.
    </p>
</header>
