---
type Props = {
    title: string;
    description: string;
    url?: string;
};

const { title, description, url } = Astro.props;
---

<a
    href={url}
    target="_blank"
    class="flex flex-col gap-3 rounded-xl border border-zinc-800 bg-zinc-900 p-6 transition-all hover:scale-[1.02] hover:border-blue-300"
>
    <h2 class="text-xl font-semibold">{title}</h2>
    <p class="text-zinc-400">{description}</p>
</a>
